@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* --default-font-family: "Inter", ui-sans-serif, system-ui, sans-serif; */
}

.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
