@tailwind base;
@tailwind components;
@tailwind utilities;

html:active-view-transition-type(navigation) {
  ::view-transition-old(root) {
    animation: 5s fade-out;
  }

  ::view-transition-new(root) {
    animation: 5s fade-in;
  }
}

html:active-view-transition-type(open-gallery) {
  &::view-transition-old(.image-stack),
  &::view-transition-new(.image-stack) {
    animation: none;
  }

  &::view-transition-group(.image-stack) {
    animation-duration: 5s;
  }

  &::view-transition-old(.image-card):only-child {
    animation: 3s forwards fade-out;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
