code .diff.add:before {
  content: "+";
  color: oklch(0.78 0.17 157.28);
}

code .diff.remove:before {
  content: "-";
  color: oklch(0.66 0.11 20.35);
}

code .diff:before {
  position: absolute;
  left: 10px;
}

code .diff.add {
  background-color: oklch(0.7 0.15 162.47 / 0.2);
}

code .diff.remove {
  background-color: oklch(0.65 0.22 16.44 / 0.16);
  opacity: 0.8;
}

code .diff {
  transition: background-color 0.5s;
  margin: 0 -15px;
  padding: 0 15px;
  width: calc(100% + 30px);
  display: inline-block;
}
